
/* Tablets grandes a 1200px (el ancho es mas chico que la fila 1140px) */
@media only screen and (max-width: 1200px){

	.hero-text-box{
		width: 100%;
		padding: 0 2%;
	}

	.row {padding: 0 2%;}

}


/* tablets chicas a tablets grandes 768px a 1023px */
@media only screen and (max-width: 1023px){
	
	body {font-size: 18px;}
	section{padding: 60px 0;}

	.long-copy {
		width: 80%;
		margin-left: 10%;
	}

	.steps-box{ margin-top: 10px; }
	.steps-box:last-child{ margin-top: 10px; }

	.works-step{ margin-bottom:  40px;}
	.works-step:last-of-type{margin-bottom: 60px;}

	.app-screen {width:60%;}

	.icon-small{
		width: 17px;
		margin-right: px;
	}

	.city-feature{ font-size: 90%; }

	.plan-box {
		width: 100%;
		margin-left: 0%; 
	}

	.plan-price{font-size: 250%;}

	.contact-form{width: 80%;}

}


/* telefonos chicos a tablets chicas: 481px a 767px  */
@media only screen and (max-width: 767px){
	body{font-size: 16px;}	
	section{padding: 30px 0;}
	
	.row,
	.hero-text-box {padding: 0 4%;}


	.col {
		width: 100%;
		margin: 0 0 4% 0;
		/*
		se puso la prop margin para que cada elemento de col 
		empiece de la misma manera
		*/
	}
	/* Las columnas ya no van a estar lado a lado */

	.main-nav {display: none; }
	/* No queremos que para los celulares se vean los botones de nav */


	/* CAMBIOS CURSO RESPONSIVE NAV */
	.mobile-nav-icon{display: inline-block; }

	.main-nav{
		float: left;
		margin: 30px 25px 0 0; 
	}

	.main-nav li{
		display: block; 
		/* que cada elemento este uno abajo del otro */
	}

	.main-nav li a:link,
	.main-nav li a:visited
	
	{
		padding: 10px;
		display: block; 
		/* que cada elemento este uno abajo del otro*/
		border: 0;
		font-size: 100%;
	}

	.sticky .main-nav{margin-top: 10px;}


	.sticky .main-nav li a:link,
	.sticky .main-nav li a:visited {padding: 10px 0;}

	.sticky .mobile-nav-icon { margin-top: 10px;}
	.sticky .mobile-nav-icon ion-icon{ color: #555;}


	/* **************** */

	h1{ font-size: 180%; }
	h2{ font-size: 150%; }

	.long-copy {
		width: 100%;
		margin-left: 0%;
	}

	.steps-box:first-child {text-align: center;}	
    .app-screen{width: 40%;}

	.works-step{ margin-bottom:  20px;}
	.works-step:last-of-type{margin-bottom: 20px;}

	.works-step div{

	 	height: 40px;
	 	width: 40px;
	 	padding: 4px;
	 	margin-right: 15px;
	 	font-size: 120%;
    }

}


/* telefonos chicos: 0 a 480px */ 
@media only screen and (max-width: 480px){
	section{ padding: 25px 0; }
	.contact-form{ width:100%; }
	
}