/* ---------------------------------- */ 
/* BASIC SETUP */
/* ---------------------------------- */ 

* {
	margin: 0;
 	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
html,
body {
	background-color: #fff;
	color: #555;
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}

.clearfix {
	zoom:1; 
}
.clearfix:after {

	/* Esta clase limpia los float despues de un elemento 
		Sucede que los child elements de "meals-showcase" -> que son los Li 
		Son los que tienen los propiedad "float"

		Entonces decimos que el padre tiene clearfix para poder limpiar los floats li


		Por eso, el titulo "HOW IT WORKS — SIMPLE AS 1, 2, 3" aparece con poco padding
	*/
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility:  hidden;
}
/* ---------------------------------- */ 
/* REUSABLE SETUP */
/* ---------------------------------- */ 

.row{
	max-width: 1140px;
	margin: 0 auto;
} 
section{
	padding: 80px 0;

	/*
	para declarar una separacion entre cada una de las seccion usariamos margin
	pero como algunas secciones usarian background color y queremos que estas se preserven
	haremos que el espacio sea DENTRO de estas cajas. 

	*/

}
.box{ 
	padding: 1%; /* separacion entre cada caja */
	
}

/*----- HEADINGS ------ */

h1,
h2,
h3 {

	font-weight: 300; 
	text-transform: uppercase;

}

h1{
	margin-top: 0;
	margin-bottom: 20px;
	color: #fff;
	font-size: 240%;
	word-spacing: 4px;
	letter-spacing: 1px;

}

h2{
	font-size: 180%;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: 1px;
}
/*
	linea entre h2 y el texto
*/

h2:after{
	display: block;  
	height: 2px;
	background-color: #e67e22;
	content: " ";
	width: 100px;
	margin: 0 auto;
	margin-top: 30px;
}
h3{
	font-size: 110%;
	margin-bottom: 15px;
}
/*----- PARAGRAPHS ------ */

.long-copy {
	line-height: 145%;
	width: 70%;
	/*
	al cambiar el ancho, este elemento ya no estaria centrado
	*/
	margin-left: 15%;

	/*
	para centrar este elemento, se sabe que el width predeterminado es 100%
	la diferencia seria 30%, asi que lo distribuimos de cada lado
	*/
}
.box p {
	font-size: 90%;
	line-height: 148%;

	/*
	texto dentro de los box
	*/
}

/*----- ICONS ------ */

.icon-big {
	font-size: 350%;
	display:block; /* no rompe el inline break  */
	color: #e67e22; 
	margin-bottom: 10px; 
	text-align: center;
}

.icon-small{
    display: inline-block;  
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;

    margin-right: 10px;

    /* Secretos para alinear texto e iconos */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/*------ LINKS ------- */ 

a:link,
a:visited {
	color:#e67e22;
	text-decoration: none;
	padding-bottom:1px;
	border-bottom: 1px solid #e67e22;
	-webkit-transition: border-bottom 0.2s;
	-o-transition: border-bottom 0.2s;
	transition: border-bottom 0.2s; color:0.2s
}

a:hover,
a:active{
	color:#555;
	border-bottom: 1px solid transparent;

}
/*----- BUTTONS ------ */
 
.btn:link,
.btn:visited,
input[type=submit]{
	
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 200px;
	-webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
	-o-transition: background-color 0.2s, border 0.2s, color 0.2s;
	transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
	background-color: #e67e22;	
	border: 1px solid  #e67e22;  
	color: #fff;
	margin-right: 15px;
} 

.btn-ghost:link,
.btn-ghost:visited{
	border: 1px solid  #e67e22; 
	color: #e67e22;
}



.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active
{
	background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active,
input[type=submit] {

	border: 1px solid  #cf6d17;  

} 

.btn-ghost:hover,
.btn-ghost:active{
	border: 1px solid  #cf6d17; 
	color: #fff;
}

/* ---------------------------------- */ 
/* HEADER */
/* ---------------------------------- */ 


header {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.7)), to(rgba(0,0,0,0.7))), url(img/hero.jpg);
	background-image: -o-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/hero-min.jpg);
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/hero-min.jpg);
	background-attachment: fixed;
	background-size: cover;  /* para ver toda la imagen*/
	background-position: center;
	height: 100vh; /* 100% form viewport*/

	

}
.hero-text-box{
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	        -ms-transform: translate(-50%,-50%);
	    transform: translate(-50%,-50%); 
}

.logo{
	height: 100px;
	width: auto;
	float: left;
	margin-top: 20px;
}

.logo-black{
	display: none;
	height: 50px;
	width: auto;
	float: left;
	margin: 5px 0;
}



/* Main navi*/
.main-nav{
	float: right;
	list-style: none;
	margin-top: 55px;
}

.main-nav li {
	display: inline-block;
	margin-left: 40px;

}
.main-nav li a:link,
.main-nav li a:visited
{
	padding: 8px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	border-bottom: 2px solid transparent;
	-webkit-transition: border-bottom 0.2s;
	-o-transition: border-bottom 0.2s;
	transition: border-bottom 0.2s;

}

.main-nav li a:hover,
.main-nav li a:active
{
	border-bottom: 2px solid #e67e22;

}

/* mobile navi */

.mobile-nav-icon{
	float: right;
	margin-top: 30px;
	cursor: pointer;
	display: none;
}

.mobile-nav-icon ion-icon{
	font-size: 300%;
	color: #fff;	
}


/* Sticky navi */

.sticky{
	position: fixed;

	/*
	 Fixed significa que al scrollear la pagina
	 este elemento siempre estará en la misma posicion
	*/

	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.98);
	/* Sin opacidad  */

	box-shadow: 0 2px 2px #efefef;

	z-index: 9999;
	/* Esto significa que la clase sticky tiene 
		maxima prioridad para aparecer de los demas 
		elementos
	 */
}


.sticky .main-nav{margin-top: 18px;}


.sticky .main-nav li a:link,
.sticky .main-nav li a:visited
{
	/* Esta seccion es para cada li dentro de sticky */

	padding: 16px 0;
	/* Hago mas grande la distancia del subrayado naranja */

	color: #555;
	/* Color de las letras en el nav */ 
}

.sticky .logo{display: none;}
.sticky .logo-black{display: block;}



/* ---------------------------------- */ 
/* FEATURES */
/* ---------------------------------- */ 

.section-features,
.long-copy {
	margin-bottom: 30px;
}


/* ---------------------------------- */ 
/* MEALS */
/* ---------------------------------- */ 

.section-meals{
	padding: 0;
	/* No queremos que la seccion de comidas tengas padding, 
	ya que no necesita titulo */
}


.meals-showcase{
	list-style: none;
	width: 100%; 
	/* Como queremos que ocupe todo el ancho del browser */

}   

.meals-showcase li{

	display: block;
	float: left; 
	/* Queremos que los elementos esten uno al lado del otro*/

	/* IMPORTANTE */

	/* En esta seccion tenemos 4 elementos por fila
		por lo que usariamos 25% de ancho para cada elemento
	 */ 
	 width: 25%;

}

.meal-photo{
	width: 100%;
	/* Esto significa que tiene el mismo ancho que su elemento 
		padre. "Mels-showcase li"
	*/
	margin: 0;
	overflow: hidden;
	/*Esto hace que las imagenes no 
		sean mas grandes que este contenedor 
		lo hacemos invisble!
	*/
	background-color: #000; /* hacemos que el fondo sea negro, para ayudar a la propiedad opacity*/

}

.meal-photo img{
	width: 100%;

	/* Hacemos una sobre escritura para aclarar que el ancho
	    es el mismo que la clase padre*/

	height: auto; 
	-webkit-transform: scale(1.15); 
	        -ms-transform: scale(1.15); 
	    transform: scale(1.15); 
	/*Esto hace que la imagen sea un 115% grande */

	transition: opacity 0.5s, -webkit-transform 0.5s;

	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;

	-o-transition: transform 0.5s, opacity 0.5s;

	transition: transform 0.5s, opacity 0.5s;

	transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
	/*Es la misma propiedad que se le dio a los links 
	 es tiempo es que se transfora la animacion
	*/ 

	opacity: 0.7; /* hace que la imagen esté mas clara - 70%*/
}	
.meal-photo img:hover{
	-webkit-transform: scale(1.03);
	        -ms-transform: scale(1.03);
	    transform: scale(1.03);
	/* Esto hace que la imagen vuelva a su tamaño original*/ 
	opacity: 1;

}

/* ---------------------------------- */ 
/* HOW IT WORKS */
/* ---------------------------------- */ 

.section-steps {
	background-color:#f4f4f4;
}
.steps-box{
	margin-top: 30px;
}
.steps-box:first-child {
	text-align: right;
	/* no hay texto en el primer elemento,
		pero la prop text align tambien funciona para cualquier tipo de bloque */

	padding-right:3%;
	/* Usamos porcentaje en vez de pixeles porque lo usamos para que sea responsive */
	/* Se dice que una Pag es Fluida cuando los elementos estyan declarados en porcentajes*/

}	
.steps-box:last-child {
	text-align: left;
	padding-left: 3%;
	margin-top: 70px;
}

.app-screen {
	width:40%; 
}
.works-step{
 	margin-bottom: 50px;
}

.works-step:last-of-type{
	/* El ultimo work steps */
	 margin-bottom: 80px;  
} 

.works-step div{
 	color: #e67e22;
 	border: 2px solid #e67e22;
 	display: inline-block;
 	/* Usamos inline para asegurar que no haya un corte de linea 
 	y asi el numero puede estar lado a lado con el texto */
 	border-radius: 50%;
 	height: 55px;
 	width: 55px;	
 	text-align: center;
 	padding: 5px;
 	float: left;
 	font-size: 150%;	
 	margin-right: 25px;

 }

.btn-app:link,
.btn-app:visited {
	border:0;

	/* Borde que destaca en los borones AppStore y GooglePlay */

}

.btn-app img{
 	height:  50px;
 	width: auto;
 	margin-right: 10px;
 }

/* ---------------------------------- */ 
/* Cities */
/* ---------------------------------- */ 

.box img{
	width: 100%;
	height: auto;

	margin-bottom: 15px;
}

.city-feature{
	margin-bottom: 5px;

}

/* ---------------------------------- */ 
/* Testimonial */
/* ---------------------------------- */ 

.section-testimonials {
	background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.8)),to(rgba(0,0,0,0.8))), url(img/back-customers.jpg);
	background-image: -o-linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(img/back-customers-min.jpg);
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(img/back-customers-min.jpg);
	background-size: cover;

	color: white;

	background-attachment: fixed;
	/* Esto hace que la imagen siempre esté en el mismo lugar 
		Esta prop tambien se agregó a .header*/
}
blockquote {
	padding: 2%;
	font-style: italic;
	line-height:  145%;
	position: relative;
	margin-top: 40px;
	left: -5px;
}

blockquote:before{
	content: "\201C";
	font-size: 400%;
	display: block;
	
	position: absolute;
	/* Importante -> si queremos que la posicion sea absoluta, blockqoute debe ser 
		Relativo 
	 */ 
	
	top: 0;
	left: -3px;

	/* 
	Para posicionar las comillas
	*/
}

cite {
	font-size: 90%;
	margin-top: 25px;
	display: block;
	/* Lo convierto en un bloque para poder separme de blockquote */ 
}
cite img {
	height: 45px;
	border-radius: 50%;
	margin-right: 10px;
	vertical-align: middle; /* alinear al centro */
}

/* ---------------------------------- */ 
/* Sing Up */
/* ---------------------------------- */ 

.section-plans{
	background-color:#f4f4f4;
}

.plan-box{
	background-color: #fff;
	border-radius: 5px;
	width: 90%; 
	/*  No queremos que que tenga el mismo tamaño que el elemento padre
			col span-1-of-3
	*/

	margin-left: 5%;
	-webkit-box-shadow:  0 2px 2px #efefef;
	        box-shadow:  0 2px 2px #efefef; 
}
.plan-box div{
	padding: 15px; /* Separacion del Div con el texto */
	border-bottom: 1px solid #e8e8e8;
	/*
		Hacemos una separacion entre cada elemento DIV. 
	*/
}

.plan-box div:first-child{
	background-color:  #fcfcfc;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}


.plan-box div:last-child {
	text-align: center;
	border-bottom: 0;
}

.plan-price {
	font-size: 300%;
	margin-bottom: 10px;
	font-weight: 100;
	color: #e67e22;
}

.plan-price span {
	font-size: 30%;

	/*
	Como la clase padre tiene 300% solo elegimos el 30% para span
	*/

	font-weight: 300;
}
.plan-price-meal{
	font-size: 80%;
}

.plan-box ul{
	list-style: none;
}

.plan-box ul li{
	padding: 5px 0;
}

/* ---------------------------------- */ 
/* Contact Form */
/* ---------------------------------- */ 

.contact-form {
	width: 60%;
	margin: 0 auto;

	/* arriba y abajo  -> 0
	   izquierda y derecha automatico

    */
}

input[type=text],
input[type=email],
select, 
textarea {
	width: 100%;
	padding: 7px;
	border-radius: 3px;
	border: 1px solid #ccc;
}

textarea{
	height: 100px;
}
input[type=checkbox] {
	margin: 10px 5px 10px 0; 
}

*:focus{
	outline: none;
}

/* ---------------------------------- */ 
/* Footer */
/* ---------------------------------- */ 

footer {
	background-color: #333;
	padding: 40px;
	font-size: 80%;
}

.footer-nav {
	list-style: none;
	float: left;
}

.social-links{
	list-style: none;
	float: right;	
}

.footer-nav li,
.social-links li {
	display: inline-block; /* Quiero que esten uno al lado del otro */
	margin-left: 20px;

}

.social-links li:last-child,
.footer-nav li:last-child{
	margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
	text-decoration: none;
	border: 0;
	color: #888;
	-webkit-transition: color 0.2s;
	-o-transition: color 0.2s;
	transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active{
	color: #ddd;
}

.social-links li a:link,
.social-links li a:visited{
	font-size: 160%;
}

.ion {
	-webkit-transition: color 0.2s;
	-o-transition: color 0.2s;
	transition: color 0.2s;
}

.ion-facebook:hover{
	color:#3b5998;
}

.ion-twitter:hover {
	color:#1da1f2;
}

.ion-googleplus:hover {
	color:#db4437;
}

.ion-instagram:hover {
	color: #c32aa3;
}

footer p {
	color: #888;
	text-align: center;

	margin: 20px;
}

/* ---------------------------------- */ 
/* Animations */
/* ---------------------------------- */ 



/* Animaciones Fade In*/
.js--wp-1,
.js--wp-2,
.js--wp-3
{
	opacity: 0;
	/* 
		Esta propiedad permite que no sea visible
		como display: none;
	*/

	-webkit-animation-duration: 1s;

	        animation-duration: 1s;
}

/* Animacion pulse -> Plan Premium */
.js--wp-4{ -webkit-animation-duration: 1s; animation-duration: 1s; }



.js--wp-1 .animated,
.js--wp-2 .animated,
.js--wp-3 .animated
{
	opacity: 1;
}